[buildout]
extensions = mr.developer

auto-checkout = *
sources-dir = parts
parts = 
    django
    supervisor

eggs =
	xlrd
	south
	gunicorn
	unidecode
	raven

allow-hosts = 
    *.python.org
    *.egenix.com
    www.lemburg.com
    labix.org
    code.google.com
    pylockfile.googlecode.com
    peak.telecommunity.com
    effbot.org	
    buildout.org
    www.djangoproject.com	

[django]
recipe = djangorecipe
project = exam
settings = settings

eggs = ${buildout:eggs}
wsgi = true

extra-paths =
    ${buildout:directory}
    ${buildout:directory}/media
    ${buildout:directory}/templates
    parts/south


[versions]
django = 1.4.5

[config]
gunicorn-port = 35111

[supervisor]
recipe = collective.recipe.supervisor
http-socket = unix
chmod = 740
file = /home/sharmonija/exam.sock
programs = 
	10 django ${buildout:directory}/bin/django run_gunicorn -c gunicorn.conf

