{% extends "exam/base.html" %}
{% block content %}

<p><div class="text">
<b>Statistične naloge 2013/14</b>
<br /><br />
Na tej spletni strani boste našli podatke za izdelavo statistične naloge, imeli pa boste tudi možnost sprotnega preverjanja vaših že izračunanih rezultatov.<br /><br />
Vse dodatne informacije in navodila v zvezi s statistično nalogo lahko najdete na spletni strani <a href="http://statistika.fdvinfo.net/">http://statistika.fdvinfo.net/</a>. 
<br /><br />
<b>Vaši podatki so naslednji:</b>
<br /><br />
Obravnavate podatke za leto <b>{{ var1.year }}</b>
<br /><br />
<b>Prva spremenljivka (za vse podnaloge):</b>
<br /><b>{{ var1 }}:</b> {{ var1.descs }} <br/>
Eurostat: področje {{ var1.region }}, naslov tabele {{ var1.desce  }}</p>

<br /><br />   
<b>Druga spremenljivka (za 4. podnalogo):</b>
<p><b>{{ var2  }}:</b> {{ var2.descs  }} <br/>
Eurostat: področje {{ var2.region }}, naslov tabele {{ var2.desce  }}</p>
<br />
<p>{% if var2.u1 %}{{ var2.u1 }}{% endif %}</p>
<br />
<br />
<table class="users" cellspacing="0">
	<tr>
		<th>Dr&#382;ava</th>
		<th>{{ var1 }}</th>
	</tr>

    {% for country,var in var1.get_countries %}
        {% if var or var == 0 %}
        <tr>
            <td>{{ country }}</td>
            <td>{{ var }}</td>
        </tr>
        {% endif %}
    {% endfor %}        
</table>
<br /><br />
<b>Podatki za obe spremenljivki za slučajni vzorec držav iz populacije držav EU (za 2. in 4. podnalogo):</b>
<br /><br />
<a name="vzorec" />
<table class="users" cellspacing="0">
	<tr>
		<th>Dr&#382;ava</th>
		<th>{{ var1 }}</th>
		<th>{{ var2 }}</th>
	</tr>

    {% for country,var1,var2 in d %}
        {% if var1 or var1 == 0 %}
        <tr>
            <td>{{ country }}</td>
            <td>{{ var1 }}</td>
            <td>{{ var2 }}</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
 <br /><br />
</div>

{% endblock %}
